<footer>
    <main>
<ul>
    <div>FAQ</div>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
<ul>
    <div>Programas</div>
    <li><a href="#">Producción Multimedia</a></li>
    <li><a href="#">Animación 3D</a></li>
    <li><a href="#">Fotografía Y Procesos Digitales</a></li>
    <li><a href="#">Analisis y Desarrollo de Sistemas de Información</a></li>
    <li><a href="#">Sistemas</a></li>
    <li><a href="#">Gestión de Redes de Datos</a></li>
    <li><a href="#">Programación de Software</a></li>
</ul>
<ul>
    <div>ZIRA</div>
    <li><a href=""></a></li>
</ul>
<ul>
    <div>Siguenos</div>
    <ol>
     <li><img src="assets/CITYPNG.COMHD-White-Instagram-Round-Logo-Icon-PNG-1600x1200-1 1.svg" alt="Instagram"></li>
     <li><img src="assets/tiktok-round-white-icon 1.svg" alt="TikTok"></li>
     <li><img src="assets/Behance.svg" alt="Behance"></li>
     <li><img src="assets/youtube-app-white-icon 1.svg" alt="Youtube"></li>
    </ol>
    <div class="instagram">
        <picture class="story"><img src="assets/icon.jpg" alt=""></picture>
        <div class="seg">
            <div class="fol">
                <span>0 Publicaciones</span>
                <span>0 Seguidores</span>
                <span>0 Seguidos</span>
            </div>

            <div class="boton-seguir">
                <button>Seguir</button>
            </div>

        </div>
    </div>
    <div class="tiktok">
        <picture class="story-2"><img src="assets/icon.jpg" alt=""></picture>
        <div class="seg">
            <div class="fol">
                <span>0 Publicaciones</span>
                <span>0 Seguidores</span>
                <span>0 Seguidos</span>
            </div>

            <div class="boton-seguir">
                <button>Seguir</button>
            </div>

        </div>
    </div>
    </div>
    <div class="behance"></div>
    <div class="youtube"></div>
</ul>
</main>
    <hr>

    <div class="sponsors">
        <picture><img src="assets/ProvisionalLogo.png" alt=""></picture>
        <picture><img src="assets/picture103 3.svg" alt=""></picture>
    </div>
    </footer>


<style>
footer{
    height: 60vh;
    background: rgb(77,0,160);
    background: linear-gradient(0deg, rgba(77,0,160,1) 0%, #0D0D0D 100%);
}

footer div{
    width: 13em;
    height: 3em;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #6D3CA1;
    font-weight: normal;
}

footer main{
    display: flex;
    justify-content: space-evenly;
}

footer ul ol{
    display: flex;
    list-style: none;
    width: 92%;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
}

footer ul{
    list-style: none;
}

hr{
margin-top: 5em;
}

footer ul li{
    margin-top: 7px;
}

footer img{
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}

footer a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

.instagram, .tiktok, .behance, .youtube{
    height: 7em ;
    width: 100%;
}

.instagram{
    display: flex;
    justify-content: space-around;
    display: none;
}
 .seg{
    
    display: flex;
    flex-direction: column;
}
.story{
    background: rgb(247,176,0);
    background: linear-gradient(42deg, rgba(247,176,0,1) 0%, rgba(234,4,122,1) 48%, rgba(201,1,185,1) 97%);
    border-radius: 999px;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content:center ;
    align-items: center;
    img{
        width: 70px;
        height: 70px;
        border-radius: 999px;
    }
}
.fol{
    color: black;
    span{
        font-size: 18px;
    }
}
.boton-seguir{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color: #03a7e8;
        border: solid rgba(255, 0, 0, 0);
        border-radius: 5px;
        width: 193px;
        height: 36px;
    }
}
.tiktok{
    display: flex;
    justify-content: space-around;
    display: none;
}

.story-2{
background-color: #25eae8;
    border-radius: 999px;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content:center ;
    align-items: center;
    img{
        width: 70px;
        height: 70px;
        border-radius: 999px;
    }
}


.behance{
    display: none;
}
.youtube{
    display: none;
}

.sponsors{
    display: flex;
    margin-top: 3em;
    gap: 16em;
    align-items: center;
    background-color: #ffffff00 !important;
    width: 100%;

        picture{
            background-color: #ffff;
            border-radius: 999999px;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
}
</style>
